# Geographical Experimentation

In this notebook, what we want to do is use some of our data to get an idea how we can better deploy our data using the geographical tools Python has available to us. Another thing we want to do is figure out how to use animations in Python/matplotlib.

Questions:

1. How do we best present the data visually?

2. How do we use such data in analysis?

In [1]:
import pandas as pd

In [3]:
NDData = pd.read_pickle('IEData\\MasterData.pkl')

In [6]:
NDData.lat, NDData.lon

(104     29.17
 310     29.53
 3867    33.20
 207     36.20
 206     32.05
 1002    31.92
 106     34.05
 601     23.00
 3172    14.05
 603     17.33
 336     11.00
 646     10.33
 649     11.10
 305     11.00
 641     10.42
 645     10.50
 976     11.75
 506      9.50
 844      9.25
 4532    10.25
 682     12.00
 4370     8.67
 533     11.33
 3221    10.17
 644      9.50
 3937    12.08
 535     11.15
 1096    12.42
 591      5.42
 588      5.50
         ...
 3705    28.42
 4249    27.50
 1395    28.00
 4471    32.00
 2311    31.50
 2147    28.95
 1268    31.32
 115     69.00
 215     65.75
 216     69.00
 311     57.00
 696     47.00
 698     65.00
 1389    57.50
 1406    46.57
 1538    59.00
 1813    62.00
 2053    56.83
 2607    65.00
 2941    64.00
 3386    62.00
 3764    57.85
 3781    54.00
 4046    53.00
 4144    60.00
 4136    59.50
 4515    65.00
 1067    67.00
 3715    69.00
 109     69.00
 Name: lat, dtype: float64, 104      25.50
 310      -9.61
 3867     -4.40
 207       2.40
 206       3.05
 1002      5.33
 106      -4.00
 601       6.00
 3172     -0.25
 603     -16.00
 336      11.83
 646      13.55
 649      13.78
 305      13.90
 641      13.42
 645      13.40
 976      22.25
 506      15.92
 844      15.00
 4532     15.25
 682       7.00
 4370      8.08
 533      11.25
 3221     10.50
 644       9.50
 3937     10.92
 535       9.60
 1096     38.83
 591      37.03
 588      37.83
          ...
 3705     96.00
 4249     92.58
 1395     98.33
 4471    102.67
 2311    102.00
 2147    111.12
 1268     45.95
 115      72.00
 215     150.83
 216     155.00
 311      48.00
 696      20.00
 698      65.00
 1389     52.50
 1406     26.67
 1538     26.00
 1813     25.00
 2053     24.00
 2607     82.00
 2941     32.00
 3386     62.00
 3764     27.00
 3781     44.00
 4046     45.50
 4144     35.00
 4136     54.50
 4515     55.00
 1067     37.00
 3715     28.00
 109      24.00
 Name: lon, dtype: float64)