# Using Data from D-Place

Right as I wrote the above, it occurred to me that it would be really useful if we could make things work with the D-place data as it is written. In any event, let's read it in (we downloaded it as well), and get rolling with it...

In [7]:
import numpy   as np
import os      as os
import pathlib as pathlib
import pandas  as pd

In [8]:
start_dir = os.getcwd()
python_dir = pathlib.Path(os.getcwd()).parts[:-1] + ('Python',)
os.chdir(pathlib.Path(*python_dir))

import PyInstEvo

os.chdir(start_dir)
os.chdir('..')

pd.set_option('display.width', 1000)
np.set_printoptions(linewidth=120)

My Data is as follows:

In [20]:
MyData = pd.read_stata(os.getcwd() + '\\IEData\\words_4_useMerged.dta')

In [21]:
for col in MyData.columns:
    print(col, end=' ')

name trimFlag ruhlen_1 ruhlen_2 ruhlen_3 lat1 lon1 eaName wordCount trimFlag2 lat lon eaNumber ethno_1 ethno_2 ethno_3 ethno_4 ethno_5 ethno_6 ethno_7 ethno_8 ethno_9 ethno_10 ethno_11 ethno_12 ethno_13 ethno_14 ruhlen_4 ruhlen_5 ruhlen_6 ruhlen_7 ruhlen_8 ruhlen_9 ruhlen_10 ruhlen_11 ruhlen_12 ruhlen_13 ruhlen_14 ruhlen_15 ruhlen_16 lang_no word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12 word13 word14 word15 word16 word17 word18 word19 word20 word21 word22 word23 word24 word25 word26 word27 word28 word29 word30 word31 word32 word33 word34 word35 word36 word37 word38 word39 word40 word41 word42 word43 word44 word45 word46 word47 word48 word49 word50 word51 word52 word53 word54 word55 word56 word57 word58 word59 word60 word61 word62 word63 word64 word65 word66 word67 word68 word69 word70 word71 word72 word73 word74 word75 word76 word77 word78 word79 word80 word81 word82 word83 word84 word85 word86 word87 word88 word89 word90 word91 word92 word93 word94 word95 word96 word97 word98 word99 word100 family genus stats ex_date speakers isocode walscode ruhlen oldMerge name2 maxWordCount nameCount second placeCount dupFlag alive deathTime extant conf poo shoo fudge moo notes matched eaLat eaLon vlangphyl v104 v106 vruhlen1 vruhlen2 vruhlen3 vruhlen4 vruhlen5 vruhlen6 vruhlen7 vruhlen8 vruhlen9 vruhlen10 vruhlen11 vruhlen12 vruhlen13 vruhlen14 vruhlen15 v112 v113 v114 v102 v1 v2 v3 v4 v5 v6 v8 v9 v10 v11 v12 v13 v28 v29 v30 v31 v32 v33 v34 v35 v39 v40 v41 v42 v43 v44 v45 v46 v47 v48 v49 v50 v51 v52 v53 v54 v55 v56 v57 v58 v59 v60 v61 v62 v63 v64 v65 v66 v67 v68 v69 v70 v71 v72 v73 v74 v75 v76 v77 v78 v90 v91 v92 v93 v95 v96 v97 v98 v99 vclimate1 vclimate2 v1000 vmet vweave vpot vtechcomp langnotes _merge

# D-Place Data

Here is the D-Place Data:

In [68]:
dp = pd.read_csv(r'C:\Users\mjbaker\OneDrive - CUNY\Documents\github\InstEvo\IEData\DplaceEAData.csv', delimiter=',')

In [69]:
DP_actual = dp[['soc_id', 'sub_case', 'year']]

In [70]:
DP_actual = dp[['soc_id', 'sub_case', 'year', 'code']].loc[dp['var_id'] == 'EA001']

In [71]:
DP_actual.rename(columns={'code':'EA001'}, inplace=True)

In [72]:
DP_actual.head()

  soc_id                                  sub_case    year  EA001
0    Aa1                          Nyai Nyae region  1950.0    8.0
1    Aa2  with special reference to Central Dorobo  1920.0    4.0
2    Aa3                          Gei/Khauan tribe  1840.0    1.0
3    Aa4                                       NaN  1920.0    4.0
4    Aa5           Epulu net-hunters, Ituri forest  1930.0    3.0

In [83]:
nameset = list(set(dp['var_id']))

In [84]:
foo = nameset.sort()

In [85]:
nameset

In [74]:
for i in np.arange(1, len(nameset)):
    tm = dp[['soc_id', 'code']].loc[dp['var_id'] == nameset[i]]
    DP_actual = pd.merge(DP_actual, tm, on='soc_id')
    DP_actual.rename(columns={'code':nameset[i]}, inplace=True)

In [75]:
DP_actual.columns

Index(['soc_id', 'sub_case', 'year', 'EA001', 'EA046', 'EA058', 'EA077', 'EA083', 'EA015', 'EA001', 'EA028', 'EA040', 'EA201', 'EA002', 'EA048', 'EA007', 'EA018', 'EA011', 'EA020', 'EA090', 'EA021', 'EA078', 'EA017', 'EA202', 'EA035', 'EA087', 'EA054', 'EA006', 'EA112', 'EA059', 'EA009', 'EA085', 'EA070', 'EA047', 'EA072', 'EA086', 'EA033', 'EA088', 'EA071', 'EA075', 'EA067', 'EA008', 'EA080', 'EA031', 'EA081', 'EA016', 'EA060', 'EA029', 'EA004', 'EA056', 'EA079', 'EA052', 'EA044', 'EA014', 'EA019', 'EA037', 'EA030', 'EA025', 'EA053', 'EA023', 'EA022', 'EA065', 'EA094', 'EA073', 'EA027', 'EA041', 'EA082', 'EA057', 'EA061', 'EA045', 'EA026', 'EA084', 'EA043', 'EA005', 'EA069', 'EA051', 'EA063', 'EA010', 'EA038', 'EA066', 'EA050', 'EA012', 'EA024', 'EA068', 'EA034', 'EA055', 'EA036', 'EA003', 'EA076', 'EA113', 'EA064', 'EA049', 'EA032', 'EA039', 'EA074', 'EA062', 'EA042'], dtype='object')

In [78]:
DP_actual.head()

  soc_id                                  sub_case    year  EA001  EA046  EA058  EA077  EA083  EA015  EA001  ...  EA003  EA076  EA113  EA064  EA049  EA032  EA039  EA074  EA062  EA042
0    Aa1                          Nyai Nyae region  1950.0    8.0    1.0   10.0    9.0    8.0    4.0    8.0  ...    0.0    1.0    2.0   10.0    6.0    3.0    1.0    1.0    9.0    1.0
1    Aa2  with special reference to Central Dorobo  1920.0    4.0    6.0   10.0    1.0    8.0    6.0    4.0  ...    0.0    5.0    NaN   10.0    6.0    2.0    1.0    7.0    9.0    3.0
2    Aa3                          Gei/Khauan tribe  1840.0    1.0    5.0    9.0    4.0    7.0    6.0    1.0  ...    1.0    7.0    NaN    9.0    3.0    2.0    1.0    1.0    9.0    4.0
3    Aa4                                       NaN  1920.0    4.0    NaN    NaN    1.0    8.0    4.0    4.0  ...    1.0    7.0    NaN    NaN    NaN    NaN    NaN    1.0    NaN    1.0
4    Aa5           Epulu net-hunters, Ituri forest  1930.0    3.0    9.0   10.0    NaN    8.0    4.0    3.0  ...    0.0    7.0    2.0   10.0    6.0    2.0    1.0    1.0    9.0    3.0

[5 rows x 97 columns]

In [40]:
dp.iloc[1290,:]

soc_id                                                            ec21
sub_case                                               Hor River group
year                                                            1890.0
var_id                                                           EA001
code                                                               2.0
comment                                                            NaN
references           arsenev1926- girfanova2000- ivashchenko1989- k...
source_coded_data                      Ethnology_Vol43_No1_Winter_2004
admin_comment                                                      NaN
Name: 1290, dtype: object